
html{
    background-color: #FEF9F6;
}
    /*fonts*/
@font-face {
    font-family: "wanderlustLetter";
    src: url("../fonts/wanderlust.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "coves";
    src: url("../fonts/Coves_Light.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*Component HomePage*/
/*Cover dimensions*/
html,
body {
    height: 100%;
}
nav li{
    float:right;
    width:15%;
    padding:5px;
    background-color:transparent;
    border:1px solid transparent;
    text-align:center;
    color:#fef9f6;
    font-family: "coves";
    font-size: 0.05vw;
    margin-right: 20px;
    text-decoration: none;

    
    }
    a:link{
        text-decoration: none;
        color:#fef9f6;
        font-family: "coves";
        font-size: 1.5vw;
        outline: none;
    }
    a:visited{
        text-decoration: none;
        color:#fef9f6;
        font-family: "coves";
        font-size: 1.5vw;
        outline: none;
    }
    
    a:active{
        text-decoration: none;
        color:#fef9f6;
        font-family: "coves";
        font-size: 1.5vw;
        outline: none;
    }

    a:hover{
        text-decoration:none;
        color:#E2BACE;
        font-family: "coves";
        font-size: 1.5vw;
        outline: none;
    }

.cover {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 180px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 50px;
    background: url("../images/portada.png") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover h1 {
    font-family: "wanderlustLetter";
    font-size: 7vw;
    color: #fef9f6;
}
/*Navigation styles*/
.contenidoNavResponsive li{
    list-style:none;
    }
.contenidoNavResponsive a{
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    max-width: 200px;
    background-color: transparent;
    font-variant: small-caps;
    }
.contenidoNavResponsive input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width:50px;
    height: 50px;
    }
.contenidoNavResponsive{
    display:none;
    }
    

@media screen and (max-width: 700px) {
    .contenidoNavegacion{
        display:none;
    }
    
    .contenidoNavResponsive {
        color:#171c18;
        position: relative;
        background-color:#FEF9F6;
        min-height: 40px;
        font-family: "coves";
        display:block;
        margin-left: 5px;
        margin-right: 10px;
        
    }
    .contenidoNavResponsive input[type="checkbox"] {
        opacity: 0;
    }
    a:link, a:visited, a:active {
        text-decoration:none;
        color:#171c18;
        font-family: "coves";
        font-size: 2vw;
    }
    a:hover{
        color:#E2BACE;
        text-decoration:none;
        font-family: "coves";
        font-size: 2vw;
    }
    
    .contenidoNavResponsive nav {
        display: none;
    }
    
    .contenidoNavResponsive input:checked ~ nav {
        display: block;
    }
    
    .contenidoNavResponsive input:checked ~ .fa-bars {
        display: none;
    }
    
    .contenidoNavResponsive input:not(:checked) ~ .fa-times {
        display: none;
    }

    /*responsive nav*/
    #hamburguesa{
        float: right;
        font-size: 2vw;
        color: #171c18;
        margin-right: 20px;
        margin-top: 10px;
    }
    .contenidoNavResponsive .fa-bars, .respmenu .fa-times {
        font-size: 48px;
        pointer-events: none;
    }
}

/*Component FechaBoda*/
.fecha {
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    font-family: "coves";
    font-size: 1vw;
    color: #fef9f6;
    text-align: center;
    background-color: #171c18;
    margin-bottom: 50px;
}

#frase {
    font-family: "coves";
    font-size: 0vw;
    color: #fef9f6;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.calculoFecha{
    margin-left: 50px;
    margin-right: 50px;
    font-family: "coves";
    font-size: 0vw;
    color: #fef9f6;

}

/*Component NosotrosHistoria*/
#nosotros{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color:#FEF9F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sobreNosotros{
    margin-top: 20px;
    background-color:#FEF9F6;
    text-align: center;

}
.tituloNosotros{
    margin-top: 20px;
    color: #171c18;
    text-align: center;
    font-family: "wanderlustLetter";
    font-size: 3vw;
    

}
.icono{
    text-align: center;
    color: #171c18;
    font-size: 4vw;
    margin: auto;
    padding-bottom: 20px;
}
.fotoNosotros{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}
.historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FEF9F6;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;


}
.tituloNosotros2{
    margin-top: 20px;
    color: #171c18;
    text-align: center;
    font-family: "wanderlustLetter";
    font-size: 3vw;
    
}
.contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    color: #171c18;
    font-size: 2vw;
    font-family: "coves";
}
.deco1{
    margin-top: 10px;
    text-align: right;
}
.deco2{
    margin-top: 40px;
    text-align: left;
    margin-bottom: 100px;
}
.texto{
    margin:100px;
}

@media screen and (max-width: 700px) {
    .contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
        color: #171c18;
        font-size: 2vw;
        font-family: "coves";
    }
    .texto{
        margin:50px;
    }

}
.pedida{
    
    background-image: url('../images/pedida.jpeg');

}



