/*PasosBoda*/
.wrapper-stepper {
  background-color: #FEF9F6;
  padding: 30px;
  border-radius: 32px;
  -webkit-box-shadow: #FFAECC;
          box-shadow: #FFAECC;
}

.stepper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50vw;
  position: relative;
  z-index: 0;
  margin-bottom: 24px;
}

.stepper-progress {
  position: absolute;
  background-color: #fcc6f3;
  height: 2px;
  z-index: -1;
  left: 0;
  right: 0;
  margin: 0,auto;
}

.stepper-bar {
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #FFAECC;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.stepper-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1c1719;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 2vw;
  font-family: "coves";
}

.stepper-item-counter {
  height: 8vw;
  width: 8vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #FEF9F6;
  border-radius: 100%;
  border: 2px solid #FFAECC;
  position: relative;
}

.stepper-item-counter .icon-success {
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 8vw;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #FEF9F6;
  color: #FFAECC;
}

.stepper-item-counter .number {
  color: #0b0c0c;
  font-size: 2.5vw;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-weight: 600;
}

.stepper-item-tittle {
  color: #1c1719;
  position: absolute;
  font-size: 2vw;
  bottom: -24px;
}

.stepper-item.success .stepper-item-counter {
  border-color: #FFAECC;
  background-color: #FFAECC;
  color: #0e0d0d;
  font-weight: 600;
}

.stepper-item.success .stepper-item-counter .icon-success {
  opacity: 0.10;
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: #FEF9F6;
}

.stepper-item.success .stepper-item-counter .number {
  color: #0b0c0c;
  font-size: 2.5vw;
  font-weight: 600;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.stepper-item.success .stepper-item-tittle {
  color: #FFAECC;
  font-size: 2vw;
}

.stepper-item.current .stepper-item-counter {
  border-color: #FFAECC;
  background-color: #FFAECC;
  color: #0e0d0d;
  font-weight: 600;
}

.stepper-item.current .stepper-item-tittle {
  color: #1c1719;
  font-size: 2vw;
}

.stepper-pane {
  color: #1c1719;
  text-align: center;
  padding: 120px 68px;
  -webkit-box-shadow: 0 8px 12 px #1c1719, 0.09;
          box-shadow: 0 8px 12 px #1c1719, 0.09;
  margin: 40px 0;
  font-size: 2vw;
}

.stepper-pane .icono-pane {
  color: #1c1719;
  font-weight: 600;
  font-size: 2vw;
}

.stepper-pane .tex-pink-1 {
  color: #1c1719;
  font-size: 2vw;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 16px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.5;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2vw;
  color: #1c1719;
  background-color: #FFAECC;
  border-color: #FFAECC;
  display: inline;
  font-size: 1.5vw;
}

.boton:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.boton--pink-1 {
  background-color: #FFAECC;
  border-color: #FFAECC;
  color: #1c1719;
  display: inline;
  font-size: 1.5vw;
  text-align: center;
}
/*# sourceMappingURL=stepper.css.map */